/* Default style*/

body {
    margin:0;
    background-color: rgba(0, 0, 0, 1);
}


/* Text Style */
h1, h2, h3, h4, h5, h6, p, sub, sup, em, i, b, small, strong, ins, del, mark, pre{
    color: rgba(255, 255, 255, 1);
}

h1.subBelow {
    display: inline-block;
}

sub.shiftSub{
    
    position: relative;
    display: inline;
    left: -193px;
    bottom: -15px
    
}

/*Navigation bar*/

#navBar {
    z-index: 10; /* Ensure that other elements are not above this!*/
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
    position: sticky;
    top: 0;
    background-color: rgba(16, 16, 16, 1);
}

#navBar a {
    /*Would do format of 'padding: 15px, 20px' but not working...*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right:20px;

    display: inline-block;
    background-color: rgba(128, 128, 128, 1);

    text-align:center;
    text-decoration: none;
}

#navBar a:hover {
    color: rgba(196, 196, 196, 1);
    background-color: rgba(96, 96, 96, 1);
}

#navBar a.active {
    background-color: rgba(38, 128, 0, 1);
}

#navBar a.leftmost{
    margin-left:2%;
}

#navBar a:link {
    color: rgba(255, 255, 255, 1);
}

#navBar a:visited {
    color: rgba(255, 255, 255, 1);
}

/* Body layout */

#title {
    background-color: rgba(38, 128, 0, 1);
    
    padding: 10px 2%;
}

#primeContent{
    /*Filler*/
    padding: 0px 2%;
}

/* Embedded PDF */

embed.pdf {
    width:80%;
    max-width: 1800px;
    height: 900px;
}

/* Images */

img {
    max-width: 100%;

    height: auto;
}