/* Default style*/

body {
    margin:0;
    background-color: rgba(0, 0, 0, 1);
}


/* Text Style */
h1, h2, h3, h4, h5, h6, p, sub, sup, em, i, b, small, strong, ins, del, mark, pre, a, label, span, li{
    color: rgba(255, 255, 255, 1);
    font-family: monospace;
}

p, em, i, b, strong, ins, del, mark, pre, a, span, li{
    font-size:16px;
}

h1.subBelow {
    display: inline-block;
}

sub.shiftSub{
    
    position: relative;
    display: inline;
    left: -176px;
    bottom: -15px
    
}

/*Navigation bar*/
div.navBar {
    z-index: 10; /* Ensure that other elements are not above this! */
    overflow: hidden;
    padding-top: 5px;
    margin-top: 0px;
    padding-bottom: 0px;
    position: sticky;
    top: 0;
    background-color: rgba(16, 16, 16, 1);
    width: 100%;
    display: block;
}

ul.navBarItem {
    /* Remove any style from use of list such as bullet points etc */
    list-style-type: none;
}

li.navBarItem {
    /* Navbar List Style */
    float: left;
    list-style-type: none;
}

li.navBarItem a, .dropList {
    /* Link box style */
    display: inline-block;
    padding: 5px 20px;
    background-color: rgba(128, 128, 128, 1);
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 10px 10px 0 0;
}


/* Drop down boxes */
li.navBarItem div.dropDownList {
    margin: 0px 5px;
    display: none;
    position: fixed;
    background-color: rgba(128, 128, 128, 1);
    
}

li.dropDownContainer:hover .dropDownList {
    display: block;
    width: 206px; /* Makes it fit nicely under the tab */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

li.dropDownContainer div.dropDownList a.listItem {
    border-radius: 0px;
    width: 166px; /* Makes it fit nicely under the tab, and within the drop box */
    margin: 0;
}

/* Hover */

li.navBarItem a:hover {
    background-color: rgba(96, 96, 96, 1);
}


li.navBarItem a.active {
    /* Active Link Style */
    background-color: rgba(38, 128, 0, 1);
}

li.navBarItem a.leftmost {
    margin-left: 2%;
}

/* Remove any style from visited links etc*/
li.navBarItem a:link {
    color: rgba(255, 255, 255, 1);
}

li.navBarItem a:visited {
    color: rgba(255, 255, 255, 1);
}



/* Body layout */
#title {
    background-color: rgba(38, 128, 0, 1);
    
    padding: 10px 12%;
}

#primeContent{
    /*Filler*/
    margin: 0px 12%;
    background-color: rgba(33, 33, 33, 1);
    padding: 10px 0px;
}

div.edgeSpacer{
    padding: 0px 20px;
}

/* Embedded PDF */

embed.pdf {
    width:80%;
    max-width: 1800px;
    height: 900px;
}

/* Images */

img {
    max-width: 100%;

    height: auto;
}

/* svg */

svg.textRain {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}